{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "minify": {
      "compress": {
        // eval で渡すための関数リテラル直書きを消さないようにする
        "unused": false
      },
      "mangle": true
    },
    "parser": {
      "syntax": "typescript"
    }
  },
  "minify": true
}
